
@media screen and (min-width:768px) {
    .encrypter{
        // margin-bottom: 20vh;
    }
}
@media screen and (min-width:1024px){
    .encrypter{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: .5rem;
    }
}