@import 'variables';
header{
    img{
        height: 1.5rem;
        width: 4rem;
    }
    background-color: $secondary-color;
    color:$white ;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    span{
        font-size: 1.2rem;
        color: $alura-color;
    }
}