$primary-color:#4D8E9E;

$terteary-color: #75E3FF;
$alura-color:#0A3871;

$optional-color1: #994900;
$optional-color2:#DB7F2A;
$white:#fff;
$black:#000;

$primary-font: 'Poppins', sans-serif;

$primary-color-dark:#4D8E9E;

:root {
    --primary-color: white;
    --secondary-color: #19BDE6;
}

[data-theme="dark"] {
    --primary-color: black;
    --secondary-color: #213135;
}
