$primary-color:#4D8E9E;
$secondary-color:#19BDE6;
$terteary-color: #75E3FF;
$alura-color:#0A3871;

$optional-color1: #994900;
$optional-color2:#DB7F2A;
$white:#fff;
$black:#000;

$primary-font: 'Poppins', sans-serif;
